$blue: #1c88c6;
$inputBorderBlue: #7bcaf6;
$inputBorderLightBlue: #e6f6ff;
$backgroundGrey: #f8f8f8;
$errorRed: #be3600;
$backgroundErrorRed: #fff4f0;
$sucessMessage--green: #4bb543;

.ContactForm {
    background-color: white;
    margin-top: 50px;
    &-iconInstructions,
    &-playIcon,
    &-circleIcon,
    &-inputsWrapper,
    &-inputPair,
    &-belowTitleSection,
    &-imageAndTextPlaceholder {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-successMessage {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: -1;
        opacity: 0;
        transition: z-index 0.5s;
        transition: opacity 0.5s;
    }
    &-seccessMessageText {
        padding: 40px;
        color: black;
        background-color: white;
        border: 5px solid $sucessMessage--green;
        border-radius: 10px;
        font-size: 30px;
        margin: 0 20px;
        text-align: center;
    }
    &-belowTitleSection {
        width: 100%;
        min-height: 200px;
        background-color: $backgroundGrey;
        flex-direction: column;
        padding: 20px;
    }
    &-imageAndTextPlaceholder {
        width: 300px;
        height: 100px;
        border-radius: 10px;
        margin: 12px;
        border: 2px solid lightgrey;
        background-color: white;
        padding: 42px;
    }
    &-formWrapper {
        padding: 30px;
        max-width: 1000px;
        margin: 0 auto;
        transition: opacity 0.5s;
    }
    &-pageTitle {
        font-size: 36px;
        color: $blue;
        margin: 0 auto;
        width: 100%;
        max-width: 1000px;
        padding: 30px;
        font-weight: normal;
    }
    &-inputsWrapper {
        flex-direction: column;
    }
    &-inputPair {
        flex-direction: column;
        width: 100%;
    }
    &-inputWrapper {
        width: 100%;
    }
    &-asterix {
        color: red;
    }
    &-name,
    &-email,
    &-phone,
    &-reason {
        width: 100%;
        height: 50px;
        border: 1px solid lightgrey;
        border-radius: 5px;
        padding: 0 12px;
        margin-top: 5px;
        font-size: 18px;
        &:focus {
            border: 3px solid $inputBorderBlue;
            outline: 4px solid $inputBorderLightBlue;
        }
    }
    &-reason {
        margin-bottom: 24px;
        color: lightgrey;
    }
    &-nameError,
    &-emailError,
    &-phoneError {
        background-color: $errorRed;
        color: white;
        visibility: hidden;
        padding-left: 8px;
    }
    &-messageTitleText {
        margin-top: 24px;
        width: 100%;
    }
    &-message {
        width: 100%;
        height: 116px;
        border: 1px solid lightgrey;
        border-radius: 3px;
        padding: 12px;
        margin: 5px 0 10px 0;
        &:focus {
            border: 3px solid $inputBorderBlue;
            outline: 4px solid $inputBorderLightBlue;
        }
    }
    &-submitButton {
        background-color: $blue;
        padding: 12px;
        color: white;
        width: 177px;
        font-size: 18px;
        font-weight: 100;
        letter-spacing: 2px;
        border-radius: 3px;
        margin: 40px 0;
        &:hover {
            cursor: pointer;
        }
    }
    &-submitAndWarningWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    &-warning {
        width: 100%;
        color: grey;
        font-size: 11px;
        line-height: 1.8;
        text-align: center;
    }
    &-requiredFields {
        color: $errorRed;
    }
    &-footer {
        background-color: $backgroundGrey;
        line-height: 1.7;
    }
    &-footerContentWrapper {
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px;
    }
    &-loremIpsum {
        font-size: 16px;
    }
    &-thankYou {
        display: none;
        border-radius: 10px;
    }
    &-inputErrorMode {
        border: 1px solid $errorRed;
        background-color: $backgroundErrorRed;
    }
    @media screen and (min-width: 700px) {
        &-belowTitleSection {
            flex-direction: row;
        }
    }
    @media screen and (min-width: 900px) {
        &-inputPair {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
        &-inputWrapper {
            width: 48%;
        }
        &-name,
        &-phone {
            margin-right: 20px;
        }
        &-submitAndWarningWrapper {
            flex-direction: row;
        }
        &-warning {
            width: 60%;
            text-align: left;
        }
        &-thankYou {
            width: 200px;
            height: auto;
            margin-left: 30px;
            display: block;
        }
    }
}

::placeholder {
    color: lightgrey;
}
