$blue: #1c88c6;
$inputBorderBlue: #7bcaf6;
$inputBorderLightBlue: #e6f6ff;
$backgroundGrey: #f8f8f8;

.ContactForm {
    background-color: white;
    margin-top: 50px;
    &-iconInstructions {
        background-color: $backgroundGrey;
        height: 200px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-playIcon,
    &-circleIcon {
        width: 300px;
        border-radius: 10px;
        border: 1px solid grey;
        background-color: white;
        height: 100px;
        margin: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-formWrapper {
        padding: 30px;
        max-width: 1000px;
        background-color: white;
        margin: 0 auto;
    }
    &-pageTitle {
        font-size: 30px;
        color: $blue;
        margin-left: 40px;
        width: 100%;
        max-width: 1000px;
    }
    &-inputsWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &-inputPair {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    &-name,
    &-email,
    &-phone,
    &-reason {
        width: 100%;
        height: 50px;
        border: 1px solid lightgrey;
        margin: 24px 0;
        border-radius: 5px;
    }
    &-message {
        width: 100%;
        height: 200px;
        border: 1px solid grey;
    }
    &-submitButton {
        background-color: $blue;
        padding: 12px;
        color: white;
        width: 177px;
        font-size: 18px;
        font-weight: 100;
        letter-spacing: 2px;
        border-radius: 3px;
        margin: 40px 0;
    }
    &-warning {
        width: 60%;
        color: grey;
        font-size: 11px;
    }
    &-requiredFields {
        color: tomato;
    }
    &-footer {
        background-color: $backgroundGrey;
        padding: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        line-height: 1.7;
    }
    &-thankYou {
        width: 200px;
        height: auto;
        margin: 30px;
    }

    @media screen and (min-width: 900px) {
        &-inputPair {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
        &-name,
        &-email,
        &-phone,
        &-reason {
            width: 50%;
        }
        &-name,
        &-phone {
            margin-right: 20px;
        }
        &-submitAndWarningWrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}
